DATABASE_URL="postgresql://postgres.jbxphckndmjrlnymwjqg:[zec21Inp00881]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.jbxphckndmjrlnymwjqg:[zec21Inp00881]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
SUPABASE_URL="https://jbxphckndmjrlnymwjqg.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpieHBoY2tuZG1qcmxueW13anFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTU5ODg4NSwiZXhwIjoyMTAxMTc0ODg1fQ.l5YGjgDX-26c-sxeTPMrIiLzmGYGreuZwzGL93vq-NU"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"